.list-box ul {
    border-top: 1px solid lightblue;
    background-color: #ececec;
}

.list-box li {
    clear: both;
    overflow: auto;
    margin-bottom: 6px;
    background-color: white;
}

.list-box li .thumb {
    display: inline-block;
    width: 120px;
    height: 90px;
    border-radius: 0px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eee;
    overflow: hidden;
    float: left;
    margin-right: 12px;
}

.list-box li .deal-name,
.list-box li .deal-desc {
    display: inline-block;
}

.list-box li .deal-name {
    margin-top: 8px;
}

.list-box li .deal-desc {
    font-size: 14px;
}

.list-box li .deal-distance {
    font-size: 14px;
}

.list-box li .deal-price {
    font-size: 14px;
    color: #FF5565;
}

#btn-show-list {
    background: url(../images/btn-circle-list.png) no-repeat;
}
#btn-show-map {
    background: url(../images/btn-circle-map.png) no-repeat;
}

#btn-show-list,
#btn-show-map {
    width: 52px;
    height: 52px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border: none;
    background-position: center center;
    background-size: cover;
}
